<div class="container-page">
    <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Đánh giá của tôi
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Đánh giá của tôi</li>
            </ol>
        </div>
    </div>
    <div class="body-page-1">
        <div class="flex container-tabs row">
            <div class="tab-item active col-lg-6">Chưa đánh giá</div>
            <div class="tab-item col-lg-6">Đã đánh giá</div>
            <div class="line"></div>
        </div>
        <div>
            <div class="tab-pane active row">
                {{#each unratedProducts}}
                <div class="col-lg-6 container-rating">
                    <div>
                        <p style="text-align: right; color: #91ad41;">Đã hoàn thành</p>
                    </div>
                    <div class="flex container-unrated">
                        <a class="col-lg-9 flex items-center" href="/san-pham/{{this.categoryId.slug}}/{{this.slug}}">
                            <img class="image-product" src="{{this.imageProduct.[0]}}" alt="">
                            <div>
                                <p>{{this.name}} </p>
                                <p style="color: rgb(140, 136, 136);">Loại sản phẩm: {{this.categoryId.categoryProduct}}
                                </p>
                            </div>
                        </a>
                        <div class="col-lg-3 items-center" style="display: grid;">
                            <div style=" justify-self: end;">
                                <span style=" text-decoration:underline;">đ</span>
                                <span>{{this.price}}</span>
                            </div>
                            <div style=" justify-self: end;">
                                <span>x1</span>
                            </div>
                        </div>
                    </div>
                    <div style="display: grid; margin-top: 15px">

                        <a href="" class="btn btn-success" data-toggle="modal" data-id="{{this._id}}"
                            data-target="#evaluate-modal-{{this._id}}" style="justify-self: end;">Đánh giá</a>
                        <div id="evaluate-modal-{{this._id}}" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title flex">Đánh giá sản phẩm
                                        </h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="flex prod-info">
                                            <div class="col-lg-3" style="padding-right: 0;">
                                                <img class="img-product" src="{{this.imageProduct.[0]}}" alt="" />
                                            </div>
                                            <div class="col-lg-9">
                                                <p>Tên sản phẩm: {{this.name}}</p>
                                                <p>Loại sản phẩm: {{this.categoryId.categoryProduct}}</p>
                                            </div>
                                        </div>
                                        <form method="POST" action="/danh-gia-cua-toi" enctype="multipart/form-data">
                                            <div class="rating" style="font-size: 40px; justify-content: center;">
                                                <input type="hidden" class="rating-star" name="star" value="3">
                                                <div class="rating-item" data-rate="1"></div>
                                                <div class="rating-item" data-rate="2"></div>
                                                <div class="rating-item active" data-rate="3"></div>
                                                <div class="rating-item" data-rate="4"></div>
                                                <div class="rating-item" data-rate="5"></div>
                                            </div>
                                            <p>Thêm hình ảnh</p>
                                            <input type="file" class="form-control" id="imageRating"
                                                name="imageRating" />
                                            <div class="row container-review">
                                                <div class="col-sm-12">
                                                    <div id="preview-images" class="m-auto preview-images"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="comment">Nhận xét của bạn{{user._id}}</label>
                                                <textarea class="form-control" id="comment" name="comment"
                                                    style="height: 200px;" required></textarea>
                                            </div>

                                            <input type="hidden" name="productId" value="{{this._id}}">

                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-success col-lg-12"
                                                    style="border-radius: 15px;">Gửi đánh giá</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="tab-pane">
                <div class="row">
                    {{#each ratingList}}
                    <div class="col-lg-6 container-rating">
                        <div class="card-evaluate">
                            <div class="flex">
                                <img class="avatar-img" src="{{this.customerId.avatar}}" alt="" />
                                <div>
                                    <p>{{this.customerId.firstname}} {{this.customerId.lastname}}</p>

                                    <div>
                                        {{#if (equalHelper this.star 1)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (equalHelper this.star 2)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (equalHelper this.star 3)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (equalHelper this.star 4)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>

                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (equalHelper this.star 5)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        {{/if}}
                                    </div>
                                    <p>{{formatDateTime this.createdAt}}</p>
                                </div>
                            </div>

                            <div class="container-comment">
                                <svg width="10" height="9" viewBox="0 0 10 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.34 0.723999V2.092C8.62 2.212 8.116 2.464 7.828 2.848C7.54 3.232 7.396 3.916 7.396 4.9H9.232V8.32H5.704V5.44C5.704 3.952 5.98 2.8 6.532 1.984C7.084 1.144 8.02 0.723999 9.34 0.723999ZM4.156 0.723999V2.092C3.436 2.212 2.932 2.464 2.644 2.848C2.356 3.232 2.212 3.916 2.212 4.9H4.048V8.32H0.52V5.44C0.52 3.952 0.796 2.8 1.348 1.984C1.9 1.144 2.836 0.723999 4.156 0.723999Z"
                                        fill="#E9435E"></path>
                                </svg>
                                <div>
                                    &emsp;{{this.comment}}
                                </div>
                            </div>
                            {{#if this.feedback}}
                            <div class="container-feedback">
                                <p class="title-feedback">Phản hồi của người bán</p>
                                <p>{{this.feedback}}</p>
                            </div>
                            {{/if}}
                            <a class="flex container-product-info"
                                href="/san-pham/{{this.productId.categoryId.slug}}/{{this.productId.slug}}">

                                <img class="img-prod" src="{{this.productId.imageProduct.[0]}}" alt="" />
                                <div class="flex items-center product-info">
                                    <p>{{this.productId.name}}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const $QS = document.querySelector.bind(document);
    const $$QSA = document.querySelectorAll.bind(document);

    const tabs = $$QSA(".tab-item");
    const panes = $$QSA(".tab-pane");

    const tabActive = $QS(".tab-item.active");
    const line = $QS(".container-tabs .line");

    requestIdleCallback(function () {
        line.style.left = tabActive.offsetLeft + "px";
        line.style.width = tabActive.offsetWidth + "px";
    });

    tabs.forEach((tab, index) => {
        const pane = panes[index];

        tab.onclick = function () {
            $QS(".tab-item.active").classList.remove("active");
            $QS(".tab-pane.active").classList.remove("active");

            line.style.left = this.offsetLeft + "px";
            line.style.width = this.offsetWidth + "px";

            this.classList.add("active");
            pane.classList.add("active");
        };
    });
</script>

<script>
    const container = document.querySelector('.rating');
    const ratingStar = document.querySelector('.rating-star');
    const items = container.querySelectorAll('.rating-item')
    container.onclick = e => {
        const elClass = e.target.classList;
        // change the rating if the user clicks on a different star
        if (!elClass.contains('active')) {
            items.forEach( // reset the active class on the star
                item => item.classList.remove('active')
            );
            ratingStar.value = e.target.getAttribute("data-rate")
            console.log(e.target.getAttribute("data-rate"));
            console.log(ratingStar.value)
            elClass.add('active'); // add active class to the clicked star
        }
    };
</script>

<script>
    // Bắt sự kiện khi chọn file
    document.getElementById('imageRating').addEventListener('change', function (e) {
        // Lấy file đã chọn
        const file = e.target.files[0];

        if (file) {
            // Tạo URL cho file hình ảnh
            const imageURL = URL.createObjectURL(file);

            // Hiển thị hình ảnh trong thẻ img
            const imageElement = document.createElement('img');
            imageElement.src = imageURL;
            imageElement.classList.add('img-fluid');

            // Hiển thị hình ảnh trong container
            const imageContainer = document.getElementById('preview-images');
            imageContainer.innerHTML = '';
            imageContainer.appendChild(imageElement);
        }
    });
</script>