<div class="container-page">
    <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Thanh toán
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
            </ol>
        </div>
    </div>
    {{#unless products.length}}
    <div style="margin-top: 30px; justify-content: center; display: flex;">
        <div style="width: 500px"><img src="/image/cart-empty.png" alt="">
            <h3 style="font-weight: 450; text-align: center; margin: 30px 0 70px 0;">GIỎ HÀNG TRỐNG</h3>
        </div>
    </div>
    <a class="btn btn-outline-success my-2 my-sm-0 btn-back" href="/" style="margin-left: 20%;">
        <span class="oi oi-arrow-left"></span>
        QUAY LẠI CỬA HÀNG
    </a>
    {{/unless}}
    {{#if products.length}}
    <div class="body-page-1">
        <div class="row container-header-cart">
            <div class="col-4" style="padding-left: 55px;">Sản phẩm</div>
            <div class="col-2">Loại sản phẩm</div>
            <div class="col-2">Đơn giá(VNĐ)</div>
            <div class="col-2">Số lượng</div>
            <div class="col-2">Số Tiền(VNĐ)</div>

        </div>

        {{#each products}}
        <div class="row container-product">
            <div class="col-4">
                <a class="items-center flex"
                    href="/san-pham/{{this.productId.categoryId.slug}}/{{this.productId.slug}}">
                    <img class="image-product-info" src="{{this.productId.imageProduct.[0]}}" alt="">
                    <p style="color: black;">{{this.productId.name}}</p>
                </a>
            </div>
            <div class="col-2 items-center flex">{{this.productId.categoryId.categoryProduct}}</div>
            <div class="col-2 items-center flex">{{this.productId.price}}</div>
            <div class="col-2 items-center flex">{{this.quantity}}</div>
            <div class="col-2 items-center flex">{{multiplication this.quantity this.productId.price}}</div>
        </div>

        {{/each}}
        <div class="container-pay box-shadow">
            <div style="margin: 25px 0;">
                <h4 class="text-center">
                    Thông tin giao hàng
                </h4>
            </div>
            <form action="/dat-hang" method="POST">
                <div class="">
                    <div class="form-group flex">
                        <div class="field-label"><i class="fa-solid fa-envelope"></i> Email:</div>
                        <div class="form-control">{{user.email}}</div>
                    </div>
                    <div class="form-group flex">
                        <div class="field-label">Tên nguời nhận:</div>
                        <input type="text" class="form-control" id="name" name="name" value="{{user.lastname}}"
                            required>
                    </div>
                    <div class="form-group flex">
                        <div class="field-label"> <i class="fa-solid fa-phone"></i> Số điện thoại người nhận:</div>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{user.phone}}" required>
                    </div>
                    <div class="form-group flex">
                        <div class="field-label"><i class="fa-solid fa-location-dot"></i> Địa chỉ nhận hàng:</div>
                        <input type="text" class="form-control" id="address" name="address" value="{{user.address}}"
                            required>
                    </div>

                    <input type="hidden" name="status" value="Chờ xác nhận">
                </div>
                <div class="flex method-pay">
                    <div class="col-lg-7">
                        <p>Phương thức thanh toán</p>
                    </div>
                    <div class="col-lg-5 text-center">Thanh toán khi nhận hàng</div>
                </div>
                <div class="flex">
                    <div class="col-lg-7"></div>
                    <div class="col-lg-5 container-btn-order">
                        <div class="flex" style="margin-bottom: 15px">Tổng tiền:&nbsp;<p style="font-weight: 700;">
                                {{total}}</p>&nbsp;(VNĐ)</div>
                        <button class="btn btn-success" type="submit" style="font-size: 20px">Đặt hàng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{/if}}
</div>