<div class="container-page">
    <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Hồ sơ của tôi
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Hồ sơ của tôi</li>
            </ol>
        </div>
    </div>
    <div class="body-page-1">
        <div class="div-info-account flex">
            <div class="col-lg-9">
                <form method="POST" action="/ho-so-cua-toi?_method=PUT">
                    <div class="form-group flex">
                        <label class="field-profile item-center">Email</label>
                        <span class="form-control">{{user.email}}</span>
                    </div>
                    <div class="form-group flex">
                        <label class="field-profile" for="firstname">Họ</label>
                        <input type="text" class="form-control" id="firstname" name="firstname"
                            value="{{user.firstname}}" />
                    </div>
                    <div class="form-group flex">
                        <label class="field-profile" for="lastname">Tên</label>
                        <input type="text" class="form-control" id="lastname" name="lastname"
                            value="{{user.lastname}}" />
                    </div>
                    <div class="form-group flex">
                        <label class="field-profile" for="phone">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{user.phone}}" />
                    </div>
                    <div class="form-group flex">
                        <label class="field-profile" for="address">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" name="address" value="{{user.address}}" />
                    </div>
                    <div class="flex">
                        <div class="field-profile"></div>
                        <button type="submit" class="btn btn-success">Lưu</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 flex">
                <div>
                    <img class="avatar" src="{{user.avatar}}" alt="" />
                    <a href="" class="btn btn-outline mt-10" data-toggle="modal" data-target="#account-modal-avatar"
                        style=" font-size: 13px; ">Thay đổi
                        avatar</a>
                </div>

                <div id="account-modal-avatar" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thay đổi avatar</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="POST" action="/ho-so-cua-toi/{{user._id}}/avatar?_method=PUT"
                                enctype="multipart/form-data">
                                <div class="modal-body">
                                    <h6>Chọn ảnh</h6>

                                    <input type="file" class="form-control" id="avatar" name="avatar" required />

                                    <div class="row container-avatar">
                                        <div class="col-sm-12">
                                            <div id="preview-images" class="m-auto avatar"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Xác nhận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // Bắt sự kiện khi chọn file
    document.getElementById('avatar').addEventListener('change', function (e) {
        // Lấy file đã chọn
        const file = e.target.files[0];

        if (file) {
            // Tạo URL cho file hình ảnh
            const imageURL = URL.createObjectURL(file);

            // Hiển thị hình ảnh trong thẻ img
            const imageElement = document.createElement('img');
            imageElement.src = imageURL;
            imageElement.classList.add('img-fluid');

            // Hiển thị hình ảnh trong container
            const imageContainer = document.getElementById('preview-images');
            imageContainer.innerHTML = '';
            imageContainer.appendChild(imageElement);
        }
    });
</script>