<div class="container-page">
    <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                {{product.name}}
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
            </ol>
        </div>
    </div>
    <div class="body-page-1">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div>
                    {{#each product.imageProduct}}
                    <img class="tab-pane{{#if @first}} active{{/if}}" src="{{this}}" alt="">
                    {{/each}}

                </div>
                <div class="row conatiner-img-prod">
                    {{#each product.imageProduct}}
                    <div class="col-lg-3 div-img">
                        <img class="tab-link{{#if @first}} active{{/if}}" src="{{this}}" alt="">
                    </div>
                    {{/each}}

                </div>
            </div>
            <div class="product-inf col-lg-7 col-12">
                <div class="container-prod">
                    <div class="title-name col-lg-12">
                        <p>{{product.name}}</p>
                    </div>
                    <div class="flex div-category">
                        <p class="col-lg-6 title-p">Loại sản phẩm:</p>
                        <p class="col-lg-6">{{product.categoryId.categoryProduct}}</p>
                    </div>
                    <form action="/gio-hang" method="POST">
                        <div class="flex container-btn-quantity">
                            <div class="col-lg-6">
                                <h5>Số lượng:</h5>
                            </div>
                            <button class="btn qty-btn qty-minus" type="button">-</button>
                            <input class="input-quantity" type="text" name="quantity" id="quantity" value="1"
                                minlength="1" maxlength="2" pattern="[1-9]{1,2}">
                            <button type="button" class="btn qty-btn qty-plus">+</button>
                        </div>
                        <button class="btn btn-success col-lg-12 btn-add-product" type="submit"><i
                                class="fa-solid fa-cart-plus icon-cart"></i> Thêm vào giỏ
                            hàng</button>
                        <input type="hidden" name="productId" value="{{product._id}}">
                    </form>

                    <div class="title-3">
                        <div class="flex">
                            <p class="col-lg-6 title-p">Thương hiệu:</p>
                            <p class="col-lg-6">{{product.tradeMark}}</p>
                        </div>
                        <div class="flex">
                            <p class="col-lg-6 title-p">Giá:</p>
                            <p class="col-lg-6">{{product.price}} Đ</p>
                        </div>
                        <div class="flex">
                            <p class="col-lg-6 title-p">Số lượng kho:</p>
                            <p class="col-lg-6">{{product.quantityWarehouse}}</p>
                        </div>
                        <div class="flex">
                            <p class="col-lg-6 title-p">Số lượng đã bán:</p>
                            <p class="col-lg-6">{{product.quantitySold}}</p>
                        </div>

                    </div>
                    <div class="title-description">
                        <div class="flex items-center">
                            <p class="title-div">Mô tả</p>
                            <div class="line-div"></div>
                        </div>
                        <div>
                            {{product.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <div class="flex items-center container-title-evaluate">
                <p class="title-div title-evaluate">Đánh giá sản phẩm</p>
                <div class="line-div"></div>
            </div>
            <div class="container-header-evaluate">
                <div class="flex div-evaluate">
                    {{#if ratings}}
                    <div>
                        <i class="fas fa-star star star-icon"></i>
                        <i class="fas fa-star star star-icon"></i>
                        <i class="fas fa-star star star-icon"></i>
                        <i class="fas fa-star star star-icon"></i>
                        <i class="fas fa-star star star-icon"></i>
                    </div>
                    <div class="flex">
                        <span class="span-star">
                            ({{totalStar}}
                        </span>
                        <span>&nbsp;/ 5</span>
                        <span class="fs-35">
                            )
                        </span>
                        <span style="margin-left: 15px;">(<span class="number-evaluate">{{ratings.length}}</span> đánh
                            giá)</span>
                    </div>
                    {{/if}}
                    {{#unless ratings}}
                    <div>Chưa có đánh giá nào</div>
                    {{/unless}}
                </div>

            </div>
            <div>
                <div class="row wrapper-evaluate">
                    {{#each ratings}}
                    <div class="col-lg-6 container-evaluate">
                        <div class="card-evaluate">
                            <div class="flex">
                                <img class="avatar" width="85" height="85" src="{{this.customerId.avatar}}" alt="" />
                                <div>
                                    <p>{{this.customerId.firstname}} {{this.customerId.lastname}}</p>

                                    <div>
                                        {{#if (equalHelper this.star 1)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (equalHelper this.star 2)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (equalHelper this.star 3)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (equalHelper this.star 4)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>

                                        <i class="far fa-star star"></i>
                                        {{/if}}
                                        {{#if (equalHelper this.star 5)}}
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                        {{/if}}
                                    </div>
                                    <p>{{formatDateTime this.createdAt}}</p>
                                </div>
                            </div>

                            <div class="" style="container-comment">
                                <svg width="10" height="9" viewBox="0 0 10 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.34 0.723999V2.092C8.62 2.212 8.116 2.464 7.828 2.848C7.54 3.232 7.396 3.916 7.396 4.9H9.232V8.32H5.704V5.44C5.704 3.952 5.98 2.8 6.532 1.984C7.084 1.144 8.02 0.723999 9.34 0.723999ZM4.156 0.723999V2.092C3.436 2.212 2.932 2.464 2.644 2.848C2.356 3.232 2.212 3.916 2.212 4.9H4.048V8.32H0.52V5.44C0.52 3.952 0.796 2.8 1.348 1.984C1.9 1.144 2.836 0.723999 4.156 0.723999Z"
                                        fill="#E9435E"></path>
                                </svg>
                                <div>
                                    &emsp;{{this.comment}}
                                </div>
                            </div>
                            {{#if this.feedback}}
                            <div class="container-feedback">
                                <p class="title-feedback">Phản hồi của người bán</p>
                                <p>{{this.feedback}}</p>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    const tabs = $$('.tab-link');
    const panes = $$('.tab-pane');

    tabs.forEach((tab, index) => {
        const pane = panes[index]

        tab.onclick = function () {
            $('.tab-link.active').classList.remove('active');
            $('.tab-pane.active').classList.remove('active');

            this.classList.add('active')
            pane.classList.add('active')

        }
    })

    const result = $('#quantity')
    const qty_minus = $('.qty-minus')
    const qty_plus = $('.qty-plus')

    qty_minus.onclick = function () {
        if (!isNaN(result.value) && result.value > 1) {
            return result.value--
        }
        else false
    }
    qty_plus.onclick = function () {
        if (!isNaN(result.value)) {
            return result.value++
        }
        else false

    }

</script>