<div class="container-page">
    <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                {{categoryProduct}}
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{categoryProduct}}</li>
            </ol>
        </div>
    </div>
    <div class="body-page-2">
        <div class="row">
            {{#each products}}
            <div class="col-sm-6 col-12 col-lg-3 col-md-3 container-product">
                <div class="card card-product">
                    <a href="/san-pham/{{this.categoryId.slug}}/{{this.slug}}">
                        <img class="card-img-top img-book" src="{{this.imageProduct.[0]}}" alt="{{this.name}}" />
                    </a>

                    <div class="product-info">
                        <div>
                            <a class="card-title-product" href="/san-pham/{{this.categoryId.slug}}/{{this.slug}}"
                                title="{{this.name}}" style="font-weight: 500;">
                                {{this.name}}
                            </a>
                        </div>
                        <form action="/gio-hang" method="POST">
                            <div style="display: flex;">
                                <p class="card-text card-text-product col-6">{{this.price}}
                                    <sup>đ</sup>
                                </p>
                                <div class="col-6" style="display: flex; justify-content: flex-end;">
                                    <input type="hidden" name="quantity" value="1">
                                    <button class="btn btn-outline-success" type="submit"><i
                                            class="fa-solid fa-cart-plus" style="font-size: 22px;"></i></button>
                                </div>
                                <input type="hidden" name="productId" value="{{this._id}}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>