<div class="container-page">
    <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                {{post.title}}
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
            </ol>
        </div>
    </div>
    <div class="body-page-1">
        <div class="post-title">
            {{post.title}}
        </div>
        <div class="flex container-img">
            <img class="image-post" src="{{post.imagePost}}" alt="{{post.title}}">
        </div>

        <div class="news-body">
            {{{post.content}}}
        </div>
    </div>

</div>