<div class="container-page">
    <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Tin tức
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
            </ol>
        </div>
    </div>
    <div class="body-admin">
        <div class="row" style="">
            {{#each posts}}
            <div class="col-sm-6 col-lg-4 card-wrapper" style="width: 340px; margin-bottom: 30px;">
                <div class="card-deck">
                    <div class="card card-post">
                        <a href="/tin-tuc/{{this.slug}}">
                            <img src="{{this.imagePost}}" alt="" style="height: 340px; width: 100%;">
                        </a>
                        <div class="card-body">
                            <a href="/tin-tuc/{{this.slug}}" style="color: black;">
                                <h5 class="title" style="font-size: 17px; text-transform: uppercase;">
                                    {{this.title}}</h5>
                            </a>
                            <div class="content">
                                {{{this.content}}}
                            </div>
                            <p class="oi oi-calendar"><small class="text-muted">{{formatDate
                                    this.createdAt}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>